.campaignCard{
    // padding: 3rem 0;
// border: 1px solid red;
    margin: auto;
    &_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &_reverse{
            flex-direction: row-reverse !important;
        }
        &_content{
            width: 49%;
            margin: auto;
            padding: 1rem;
            &_h4{
                margin-bottom: 1.4rem;
                text-align: center;
                & span{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    border-bottom: 3px solid #7fff00;
                    padding: 0.5rem ;
                    font-weight: 400;
                    letter-spacing: 3px;
                    font-family: "Nunito Sans",sans-serif;
                }
            }
            &_p{
                // text-align: center;
                font-size: 1rem;
                line-height: 2rem;
                word-spacing: 0.7px;
                letter-spacing: .5px;
                font-weight: 400;
                text-align: justify;
                color: grey;
            }
        }
        &_image{
            width: 49%;
            margin: auto;
            padding: 1rem;
            & img{
                width: 100%;
            }
        }
    }
}